// PREMENNE

// COLORS
$foreground-primary: #000000;
$foreground-secondary: #444444;
$foreground-subtitle: #999999;
$foreground-searchDegree: #666666;
$foreground-button: #0DA0EA;
$search-placeholder: #9F9F9F;

$background: #FFFFFF;
$background-searchbar:#F3F3F3;
$background-button: #0DA0EA14;
$background-button-hover: #0da0ea3c;

// BREAKPOINTS
$xsmall: 728px;
$small: 1024px;
$medium: 1366px;
$large: 1920px;

// FONTS
$font-small: 0.625rem; // 10px
$font-regular: 1rem; // 16px
$font-medium: 1.125rem; // 18px
$font-large: 4rem;  // 64px 