.to-search-screen-btn{
    background-color: $background-button;
    border: none;
    border-radius: 0 0 0 1.5rem;
    padding: 0.8em 0.5em;
    width: 80%;

    display: flex;
    justify-content: center;
    gap: 1em;

    cursor: pointer;
}

.to-search-screen-btn:active{
    background-color: $background-button-hover;
}

.to-search-screen-btn p {
    color: $foreground-button;
    font-size: $font-regular;
}

.to-search-screen-btn img {
    width: 1em;
}


@media (min-width: $small) {
    .to-search-screen-btn{
        width: 30%;
    }

    .to-search-screen-btn:hover{
        background-color: $background-button-hover;
    }
}
